<p>Make a Bet</p>
<form action="/game/bet" method="post">
  <input type="text" name="bet_amount" placeholder="from 10 to 100" autofocus /></br>
  <input type="submit" value="OK" class="btn btn-success btn-large"/>
</form>
