<p>Daaler's Cards</p>
<div class="row">
  <ul class="thumbnails">
    <% session[:dealer].cards.each do |card| %>
      <li class="thumbnail span2">
      <img class="img-rounded" src=<%= card.load_path %> alt="dsdas" />
      </li>
    <% end %>

    <% if @stat.eql?("vacation") %>
      <li class="thumbnail span2">
      <form action="/game/dealer/hit" method="POST" style="float: right">
        <input type="submit" value="Dealor card" class= "btn btn-success btn-large" />
      </form>
      </li>
    <% end %>

  </ul>
</div>
<p>Your Cards</p>
<div class="row">
  <ul class="thumbnails">
    <% session[:player].cards.each do |card| %>
      <li class="thumbnail span2">
      <img class="img-rounded" src=<%= card.load_path %> alt="dsdas" />
      </li>
    <% end %>

    <div class="well span3">
      <h4>Your points is <strong> <%= session[:player].total %> </strong> </h4>

      <% if @stat.nil? %>
    <form action="/game/player/hit" method="POST" style="float: right; margin-right: 10px;">
      Bet <small>($5-100)</small>: <input type="text" name="bet_amount" style="width: 25px"/>

      <input type="submit" value="Hit" class= "btn btn-success btn-large" />
    </form>
      <form action="/game/player/stay" method="POST" style="float: right">
        <input type="submit" value="Stay" class= "btn btn-warning btn-large" />
      </form>
      <% elsif @stat.eql?("bust") %>
        <p>What a pity! You busted</p>

      <% elsif @stat.eql?("lose") %>
        <p>What a pity! You lost</p>
        
      <% elsif @stat.eql?("win") %>
        <p>What a pity! You Win!</p>

      <% else %>

      <% end %>
    </div>


    </ul>
  </div>
