<div>
  <h2> Enjoy BlackJack </h2>
  <p>blckjack's precursor was twenty-one, a game of unknown origin. The first written reference is found in a book by the Spanish author Miguel de Cervantes, who is most famous for writing Don Quixote. Cervantes was a gambler, and the main characters of his tale Rinconete y Cortadillo, from Novelas Ejemplares, are a couple of cheats working in Seville. They are proficient at cheating at ventiuna (Spanish for twenty-one), and state that the object of the game is to reach 21 points without going over and that the ace values 1 or 11. The game is played with the Spanish baraja deck, which lacks eights, nines and tens.</p>
  <p> When twenty-one was introduced in the United States, gambling houses offered bonus payouts to stimulate players' interest. One such bonus was a ten to one payout if the player's hand consisted of the ace of spades and a black jack (either the jack of clubs or the jack of spades). This hand was called a "blackjack" and the name stuck to the game, even though the ten to one bonus was soon withdrawn. In the modern game, a blackjack refers to any hand of an ace plus a ten or face card, regardless of suits or colours
  </p>

  <% if session[:name].nil? %>
    <form action="/login" method="get">
  <% else%>
    <form action="/game" method="get">
  <% end %>
      <input type="submit" class="btn btn-info" value="Start Game Here" />
  </form>

  <div>
