<!DOCTYPE html>
<html>
  <head>
    <title>My First App</title>
    <link rel="stylesheet" href="/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="text/javascript" href="/vendor/bootstrap/js/bootstrap.js">
    <link rel="text/javascript" href="/jquery-1.9.1.min.js">
    <link rel="text/css"  href="/application.css">
    <link rel="text/javascript" href="/application.js">
  </head>
  <body style="padding-top: 50px;">

    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <ul class="nav">
            <li><a href="/">BlackJack</a></li>
            <% if session[:name].nil? %>
              <li> <a href="/login">please login</a> </li>
            <% else %>
              <li> <a href="/logout" >logout</a> </li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>

    <div class="container">
      <%if @error %>
        <div class="alert alert-error"><%=@error%></div>
      <% end %>
      <%if @flash %>
        <div class="alert alert-info "><%=@flash%></div>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>
